{%load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/visual.css' %}">
    </head>

    <body>
		{% if not user.is_authenticated %}
    <div class="profilereal" style="margin-top: 200px; font-size: 1.2em;">
    <div class="box" id="down" style="color: black;">
        <div class="block">
            	{% block pwdReset %}
	            {% endblock %}
   </div>
    </div>  
 </div>
 {% else %}
     <h2 style="color: black; font-weight: bold;">Ruta invalida</h2>
 {% endif %}
    </body>

</html>