{% extends "registration/base_password_reset.html" %}
{% block pwdReset %}
	<form method="post"  >
    {% csrf_token %}
    <h2 style="color: black; font-weight: bold;">Recuperar contrasena:</h2>
	<p style="color: black;"> Ingrese el email con el que se registro y en breve le enviaremos un mail para que pueda recuperar su contraseña.</p>
    {% for field in form %}
        <div class="field">
            {{ field.label_tag }}
            <div class="control">
                {{ field }}
            </div>
            {% if field.errors %}
                <p class="help is-danger">{{ field.errors }}</p>
            {% endif %}
        </div>
    {% endfor %}

    <div class="field is-grouped is-grouped-centered mt-4">
        <div class="control">
            <input type="submit" value="Enviar" class="button is-primary">
        </div>
    </div>
</form>
{% endblock pwdReset %}



