{% extends "registration/base_password_reset.html" %}
{% block pwdReset %}
	<form method="post"  >
    {% csrf_token %}
    <h2 style="color: black; font-weight: bold;">Recuperar contraseña:</h2>
	<p style="color: black;"> Ingrese la nueva contraseña</p>
   <div class="field">
    <p style="color: black;"> Contraseña</p>
    <input class="input is-large" type="password" maxlength="32" name="new_password1" placeholder="Nueva contraseña">
        <p style="color: black;"> Confirme contraseña</p>
        <input class="input is-large" maxlength="32" type="password" name="new_password2" placeholder="Confirmar contraseña">
       </div> 
    <div class="field is-grouped is-grouped-centered mt-4">
        <div class="control">
            <input type="submit" value="Enviar" class="button is-primary">
        </div>
    </div>
    {% if form.errors %}
  <ul>
    {% for field in form %}
      {% for error in field.errors %}
        <li style="color: red;">{{ error }}</li>
      {% endfor %}
    {% endfor %}
  </ul>
{% endif %}
</form>
   

{% endblock %}
