{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
		{% block title %}
			Free Library
		{% endblock %}
	</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/visual.css' %}">
    <link rel="shortcut icon" href=
		{% block icon %}
		"{% static 'img/logoFacu2.png' %}" 		
		{% endblock %}
		type="image/x-icon">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@latest/dist/cdn.min.js"></script>
	 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
	{% block body %}
	{% endblock %}
</body>

</html>
