{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Library</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/visual.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logoFacu2.png' %}" type="image/x-icon">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@latest/dist/cdn.min.js"></script>

</head>

<body>
    <button onclick="window.location.href='/reader/?book=https://s3.amazonaws.com/moby-dick/moby-dick.epub'">
         -----------------------------Libro Reader-----------------------
    </button>

 
        
      
    <!--Barra superior negra-->
    <div class="superior" id="up">
        <div class="interior">
            <!--Aqui va el algo a la izquierda-->
            <div class="izquierda">
                <img src="{% static 'img/fcfmyn.png' %} " style="width: 200px; height: 50px">
            </div>
            <!--Aqui esta el boton de donar y el de seleccionar el idioma-->
            <div class="derecha">
                <div class="botonDonar">
                    <div class="field">
                        <div class="control">
                            <button class="button is-danger is-outlined is-small">
                                <span>Donar</span>
                                <span class="icon">
                                    <i class="fas fa-heart"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="botonIdioma colorIdioma">
                    <div class="field">
                        <div class="control">
                            <span class="select is-small">
                                <select name="" id="">
                                    <option value="">Español</option>
                                    <option value="">Ingles</option>
                                    <option value="">Frances</option>
                                </select>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Barra de Busqueda y Logo-->
    <div class="superiorbajo">
        <div class="interior">
            <div class="izquierda">
                <img src="{% static 'img/free.png' %} " style="width: 200px; height: 200px;">
            </div>
            <div class="derecha">
                <div class="botonDonar" style="width: 120px; color: black;">
                    <div class="field">
                        <div class="control">
                            <span class="icon">
                                <i class="fas fa-book"></i>
                            </span>
                            <a href="/misLibros/">Mis Libros</a>
                        </div>
                    </div>
                </div>
                <div class="custom-select">
                    <details>
                        <summary>Explorar</summary>
                        <ul style="list-style: none; margin: 0; padding: 0;">
                            <li><a href="#">Temas</a></li>
                            <li><a href="#">Tendencia</a></li>
                            <li><a href="#">Explorador de biblioteca</a></li>
                            <li><a href="#">Listas</a></li>
                            <li><a href="#">Colecciones</a></li>
                            <li><a href="#">Biblioteca de estudiantes k-12</a></li>
                            <li><a href="#">Charlas sobre libros</a></li>
                            <li><a href="#">Libro Aleatorio</a></li>
                            <li><a href="#">Busqueda Avanzada</a></li>
                        </ul>
                    </details>
                </div>
                <div class="botonIdioma colorCategoria">
                    <div class="field has-addons">
                        <div class="control">
                            <span class="select" style="width: 100px;">
                                <select name="" id="">
                                    <option value="">Todo</option>
                                    <option value="">Titulo</option>
                                    <option value="">Autor</option>
                                    <option value="">Texto</option>
                                    <option value="">Tema</option>
                                    <option value="">Listas</option>
                                    <option value="">Avanzado</option>
                                </select>
                            </span>
                        </div>
                        <div class="control colorInput">
                            <input type="text" class="input" placeholder="Buscar" style="width: 150px;">
                        </div>
                        <div class="control">
                            <button class="button is-white colorBoton">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="botonDonar" style="width: 100px; color: black;">
                    <div class="field">
                        <div class="control">
                            <span class="icon">
                                <i class="fas fa-user"></i>
                            </span>
                            <a href="/admin/">Acceder</a>
                        </div>
                    </div>
                </div>
                <div class="botonDonar">
                    <div class="field">
                        <div class="control">
                            <button class="button is-info">
                                <span class="icon">
                                    <i class="fas fa-user-plus"></i>
                                </span>
                                <span>Registrarse</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="medio">
        <div class="interior" id="down">
            <div class="carousel-section">
                <div class="carousel-header" style="margin-top: 25px;">
                    <h2>Welcome to the Free Library</h2>
                </div>
                <div class="carousel-container">
                    <div class="button-prev">
                        <button class="button is-info is-small">
                            <span class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                        </button>
                    </div>
                    <div class="carousel-container-block">
                        <div class="izquierda" style="height: 100%;">
                            <div class="carousel-block"></div>
                        </div>
                        <div class="slash"></div>
                        <div class="derecha" style="height: 100%;">
                            <div class="carousel-block"></div>
                        </div>
                    </div>
                    <div class="button-post">
                        <button class="button is-info is-small">
                            <span class="icon">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="carousel-book">
                <div class="carousel-section">
                    <div class="carousel-header">
                        <h2>
                            <a href="">Books</a>
                        </h2>
                    </div>
                    <div class="carousel-container">
                        <div class="button-prev">
                            <button class="button is-info is-small">
                                <span class="icon">
                                    <i class="fas fa-arrow-left"></i>
                                </span>
                            </button>
                        </div>
                        <div class="carousel-container-block">
                            <div class="izquierda" style="height: 100%;">
                                <div class="carousel-block"></div>
                            </div>
                            <div class="slash"></div>
                            <div class="derecha" style="height: 100%;">
                                <div class="carousel-block"></div>
                            </div>
                        </div>
                        <div class="button-post">
                            <button class="button is-info is-small">
                                <span class="icon">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-book">
                <div class="carousel-section">
                    <div class="carousel-header">
                        <h2>
                            <a href="">Books</a>
                        </h2>
                    </div>
                    <div class="carousel-container">
                        <div class="button-prev">
                            <button class="button is-info is-small">
                                <span class="icon">
                                    <i class="fas fa-arrow-left"></i>
                                </span>
                            </button>
                        </div>
                        <div class="carousel-container-block">
                            <div class="izquierda" style="height: 100%;">
                                <div class="carousel-block"></div>
                            </div>
                            <div class="slash"></div>
                            <div class="derecha" style="height: 100%;">
                                <div class="carousel-block"></div>
                            </div>
                        </div>
                        <div class="button-post">
                            <button class="button is-info is-small">
                                <span class="icon">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-book">
                <div class="carousel-section">
                    <div class="carousel-header">
                        <h2>
                            <a href="">Books</a>
                        </h2>
                    </div>
                    <div class="carousel-container">
                        <div class="button-prev">
                            <button class="button is-info is-small">
                                <span class="icon">
                                    <i class="fas fa-arrow-left"></i>
                                </span>
                            </button>
                        </div>
                        <div class="carousel-container-block">
                            <div class="izquierda" style="height: 100%;">
                                <div class="carousel-block"></div>
                            </div>
                            <div class="slash"></div>
                            <div class="derecha" style="height: 100%;">
                                <div class="carousel-block"></div>
                            </div>
                        </div>
                        <div class="button-post">
                            <button class="button is-info is-small">
                                <span class="icon">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-book">
                <div class="carousel-section">
                    <div class="carousel-header">
                        <h2>
                            <a href="">Books</a>
                        </h2>
                    </div>
                    <div class="carousel-container">
                        <div class="button-prev">
                            <button class="button is-info is-small">
                                <span class="icon">
                                    <i class="fas fa-arrow-left"></i>
                                </span>
                            </button>
                        </div>
                        <div class="carousel-container-block">
                            <div class="izquierda" style="height: 100%;">
                                <div class="carousel-block"></div>
                            </div>
                            <div class="slash"></div>
                            <div class="derecha" style="height: 100%;">
                                <div class="carousel-block"></div>
                            </div>
                        </div>
                        <div class="button-post">
                            <button class="button is-info is-small">
                                <span class="icon">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-section" style="height: 200px;">
                <div class="carousel-header" style="margin-top: 25px;">
                    <h2>
                        <a href="">Search</a>
                    </h2>
                </div>
                <div class="carousel-container" style="height: 125px;">
                    <div class="button-prev">
                        <button class="button is-info is-small">
                            <span class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                        </button>
                    </div>
                    <div class="carousel-container-block">
                        <div class="izquierda" style="height: 100%;">
                            <div class="carousel-block"></div>
                        </div>
                        <div class="slash"></div>
                        <div class="derecha" style="height: 100%;">
                            <div class="carousel-block"></div>
                        </div>
                    </div>
                    <div class="button-post">
                        <button class="button is-info is-small">
                            <span class="icon">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="home-stats">
                <h2 style="color: gray;">Estadistics</h2>
            </div>
            <div class="home-resources">
                <h2 style="color: gray;">Resources</h2>
            </div>
        </div>
    </div>
    <div class="mediobajo"></div>
    <div class="bajo">
        <div class="interior">
            <div class="box">
                <h2>Free Library</h2>
                <ul>
                    <li><a href="">Prueba1</a></li>
                    <li><a href="">Prueba2</a></li>
                    <li><a href="">Prueba3</a></li>
                    <li><a href="">Prueba4</a></li>
                    <li><a href="">Prueba5</a></li>
                    <li><a href="">Prueba6</a></li>
                    <li><a href="">Prueba7</a></li>
                </ul>
            </div>
            <div class="box">
                <h2>Free Library</h2>
                <ul>
                    <li><a href="">Prueba1</a></li>
                    <li><a href="">Prueba2</a></li>
                    <li><a href="">Prueba3</a></li>
                    <li><a href="">Prueba4</a></li>
                    <li><a href="">Prueba5</a></li>
                    <li><a href="">Prueba6</a></li>
                    <li><a href="">Prueba7</a></li>
                </ul>
            </div>
            <div class="box">
                <h2>Free Library</h2>
                <ul>
                    <li><a href="">Prueba1</a></li>
                    <li><a href="">Prueba2</a></li>
                    <li><a href="">Prueba3</a></li>
                    <li><a href="">Prueba4</a></li>
                </ul>
            </div>
            <div class="box">
                <h2>Free Library</h2>
                <ul>
                    <li><a href="">Prueba1</a></li>
                    <li><a href="">Prueba2</a></li>
                    <li><a href="">Prueba3</a></li>
                    <li><a href="">Prueba4</a></li>
                    <li><a href="">Prueba5</a></li>
                </ul>
                <span class="tag is-info is-medium">
                    <span class="icon">
                        <i class="fab fa-twitter"></i>
                    </span>
                </span>
                <span class="tag is-grey is-medium">
                    <span class="icon">
                        <i class="fab fa-github"></i>
                    </span>
                </span>
            </div>
            <div class="box">
                <h2>Free Library</h2>
                <ul>
                    <li><a href="">Prueba1</a></li>
                    <li><a href="">Prueba2</a></li>
                    <li><a href="">Prueba3</a></li>
                    <li><a href="">Prueba4</a></li>
                    <li><a href="">Prueba5</a></li>
                    <li><a href="">Prueba6</a></li>
                    <li><a href="">Prueba7</a></li>
                    <li><a href="">Prueba8</a></li>
                    <li><a href="">Prueba9</a></li>
                    <li><a href="">Prueba10</a></li>
                    <li><a href="">Prueba11</a></li>
                    <li><a href="">Prueba12</a></li>
                    <li><a href="">Prueba13</a></li>
                    <li><a href="">Prueba14</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>