{% extends "base_structure.html" %}

{% load static %}

{% block principal %}

<div class="medio">
    <div class="box" id="down">
        <div class="carousel-section">
            <div class="carousel-header" style="margin-top: 25px;">
                <h2>Welcome to the Free Library</h2>
            </div>
            <div class="carousel-container">
                <div class="button-prev">
                    <button class="button is-info is-small">
                        <span class="icon">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                    </button>
                </div>
                <div class="carousel-container-block">
                    <div class="izquierda" style="height: 100%;">
                        <div class="carousel-block"></div>
                    </div>
                    <div class="slash"></div>
                    <div class="derecha" style="height: 100%;">
                        <div class="carousel-block"></div>
                    </div>
                </div>
                <div class="button-post">
                    <button class="button is-info is-small">
                        <span class="icon">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="carousel-book">
            <div class="carousel-section">
                <div class="carousel-header">
                    <h2>
                        <a href="">Books of Fiction</a>
                    </h2>
                </div>
                <div class="carousel-container">
                    <div class="prev">
                        <button class="button is-info is-small">
                            <span class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                        </button>
                    </div>
                    <div class="carousel-container-block">
                        {% if books_fiction %}
                        {% for book in books_fiction %}
                        {% if book.edition_set.all %}
                        {% for edition in book.edition_set.all %}
                        <div class="carousel-block" style="width: 200px; padding-top: 10px;">
                            <div class="book-cover">
                                <a href="/bookprofile/{{ edition.title }}/?book={{ edition.of.id }}">
                                    <img src="{{edition.cover.url}}">
                                </a>
                            </div>
                            <div class="book-location">
                                <a href="/reader/?book={{ edition.file.url }}" class="button is-info">Leer</a>
                            </div>
                            <div class="book-location">
                                <a href="/review/?book={{ edition.of.id }}" class="button is-info">Reseñar</a>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <h1>No se encontraron ediciones con este genero</h1>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <h1>No se encontraron libros con este genero</h1>
                        {% endif %}
                    </div>
                    <div class="button-post">
                        <button class="button is-info is-small">
                            <span class="icon">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-book">
            <div class="carousel-section">
                <div class="carousel-header">
                    <h2>
                        <a href="">Books of Fantasy</a>
                    </h2>
                </div>
                <div class="carousel-container">
                    <div class="button-prev">
                        <button class="button is-info is-small">
                            <span class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                        </button>
                    </div>
                    <div class="carousel-container-block">
                        {% if books_fantasy %}
                        {% for book in books_fantasy %}
                        {% if book.edition_set.all %}
                        {% for edition in book.edition_set.all %}
                        <div class="carousel-block" style="width: 200px; padding-top: 10px;">
                            <div class="book-cover">
                                <a href="/bookprofile/{{ edition.title }}/?book={{ edition.of.id }}">
                                    <img src="{{edition.cover.url}}">
                                </a>
                            </div>
                            <div class="book-location">
                                <a href="/reader/?book={{ edition.file.url }}" class="button is-info">Leer</a>
                            </div>
                            <div class="book-location">
                                <a href="/review/?book={{ edition.of.id }}" class="button is-info">Reseñar</a>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <h1>No se encontraron ediciones con este genero</h1>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <h1>No se encontraron libros con este genero</h1>
                        {% endif %}
                    </div>
                    <div class="button-post">
                        <button class="button is-info is-small">
                            <span class="icon">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-book">
            <div class="carousel-section">
                <div class="carousel-header">
                    <h2>
                        <a href="">Books of Mystery</a>
                    </h2>
                </div>
                <div class="carousel-container">
                    <div class="button-prev">
                        <button class="button is-info is-small">
                            <span class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                        </button>
                    </div>
                    <div class="carousel-container-block">
                        {% if books_mystery %}
                        {% for book in books_mystery %}
                        {% if book.edition_set.all %}
                        {% for edition in book.edition_set.all %}
                        <div class="carousel-block" style="width: 200px; padding-top: 10px;">
                            <div class="book-cover">
                                <a href="/bookprofile/{{ edition.title }}/?book={{ edition.of.id }}">
                                    <img src="{{edition.cover.url}}">
                                </a>
                            </div>
                            <div class="book-location">
                                <a href="/reader/?book={{ edition.file.url }}" class="button is-info">Leer</a>
                            </div>
                            <div class="book-location">
                                <a href="/review/?book={{ edition.of.id }}" class="button is-info">Reseñar</a>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <h1>No se encontraron ediciones con este genero</h1>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <h1>No se encontraron libros con este genero</h1>
                        {% endif %}
                    </div>
                    <div class="button-post">
                        <button class="button is-info is-small">
                            <span class="icon">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-book">
            <div class="carousel-section">
                <div class="carousel-header">
                    <h2>
                        <a href="">Books of Romance</a>
                    </h2>
                </div>
                <div class="carousel-container">
                    <div class="button-prev">
                        <button class="button is-info is-small">
                            <span class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                        </button>
                    </div>
                    <div class="carousel-container-block">
                        {% if books_romance %}
                        {% for book in books_romance %}
                        {% if book.edition_set.all %}
                        {% for edition in book.edition_set.all %}
                        <div class="carousel-block" style="width: 200px; padding-top: 10px;">
                            <div class="book-cover">
                                <a href="/bookprofile/{{ edition.title }}/?book={{ edition.of.id }}">
                                    <img src="{{edition.cover.url}}">
                                </a>
                            </div>
                            <div class="book-location">
                                <a href="/reader/?book={{ edition.file.url }}" class="button is-info">Leer</a>
                            </div>
                            <div class="book-location">
                                <a href="/review/?book={{ edition.of.id }}" class="button is-info">Reseñar</a>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <h1>No se encontraron ediciones con este genero</h1>
                        {% endif %}
                        {% endfor %}
                        {% else %}
                        <h1>No se encontraron libros con este genero</h1>
                        {% endif %}
                    </div>
                    <div class="button-post">
                        <button class="button is-info is-small">
                            <span class="icon">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-section" style="height: 200px;">
            <div class="carousel-header" style="margin-top: 25px;">
                <title>
                    <a href="">Search</a>
                </title>
            </div>
            <div class="carousel-container" style="height: 125px;">
                <div class="button-prev">
                    <button class="button is-info is-small">
                        <span class="icon">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                    </button>
                </div>
                <div class="carousel-container-block">
                    <div class="izquierda" style="height: 100%;">
                        <div class="carousel-block"></div>
                    </div>
                    <div class="slash"></div>
                    <div class="derecha" style="height: 100%;">
                        <div class="carousel-block"></div>
                    </div>
                </div>
                <div class="button-post">
                    <button class="button is-info is-small">
                        <span class="icon">
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="home-stats">
            <h2 style="color: gray;">Estadistics</h2>
        </div>
        <div class="home-resources">
            <h2 style="color: gray;">Resources</h2>
        </div>
    </div>
</div>
{% endblock %}