<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Library</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="visual.css">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@latest/dist/cdn.min.js"></script>
</head>

<body>
    <!--Barra superior negra-->
    <div class="superior" id="up">
        <div class="interior">
            <!--Aqui va el algo a la izquierda-->
            <div class="izquierda">
                <img src="HTML.png">
            </div>
            <!--Aqui esta el boton de donar y el de seleccionar el idioma-->
            <div class="derecha">
                <div class="botonDonar">
                    <div class="field">
                        <div class="control">
                            <button class="button is-danger is-outlined is-small">
                                <span>Donate</span>
                                <span class="icon">
                                    <i class="fas fa-heart"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="botonIdioma colorIdioma">
                    <div class="field">
                        <div class="control">
                            <span class="select is-small">
                                <select name="" id="">
                                    <option value="">Español</option>
                                    <option value="">Ingles</option>
                                    <option value="">Frances</option>
                                </select>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Barra de Busqueda y Logo-->
    <div class="superiorbajo">
        <div class="interior">
            <div class="izquierda">
                <img src="HTML.png">
            </div>
            <div class="derecha">
                <div class="botonDonar" style="width: 120px; color: black;">
                    <div class="field">
                        <div class="control">
                            <span class="icon">
                                <i class="fas fa-book"></i>
                            </span>
                            <a href="">Mis Libros</a>
                        </div>
                    </div>
                </div>
                <div class="custom-select">
                    <details>
                        <summary>Explorar</summary>
                        <ul style="list-style: none; margin: 0; padding: 0;">
                            <li><a href="#">Temas</a></li>
                            <li><a href="#">Tendencia</a></li>
                            <li><a href="#">Explorador de biblioteca</a></li>
                            <li><a href="#">Listas</a></li>
                            <li><a href="#">Colecciones</a></li>
                            <li><a href="#">Biblioteca de estudiantes k-12</a></li>
                            <li><a href="#">Charlas sobre libros</a></li>
                            <li><a href="#">Libro Aleatorio</a></li>
                            <li><a href="#">Busqueda Avanzada</a></li>
                        </ul>
                    </details>
                </div>
                <div class="botonIdioma colorCategoria">
                    <div class="field has-addons">
                        <div class="control">
                            <span class="select">
                                <select name="" id="">
                                    <option value="">Todo</option>
                                    <option value="">Titulo</option>
                                    <option value="">Autor</option>
                                    <option value="">Texto</option>
                                    <option value="">Tema</option>
                                    <option value="">Listas</option>
                                    <option value="">Avanzado</option>
                                </select>
                            </span>
                        </div>
                        <div class="control colorInput">
                            <input type="text" class="input" placeholder="Buscar">
                        </div>
                        <div class="control">
                            <button class="button is-white colorBoton">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="botonDonar" style="width: 100px; color: black;">
                    <div class="field">
                        <div class="control">
                            <span class="icon">
                                <i class="fas fa-user"></i>
                            </span>
                            <a href="">Acceder</a>
                        </div>
                    </div>
                </div>
                <div class="botonDonar">
                    <div class="field">
                        <div class="control">
                            <button class="button is-info">
                                <span class="icon">
                                    <i class="fas fa-user-plus"></i>
                                </span>
                                <span>Registrarse</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="medio">
        <div id="down" class="interior">

        </div>
    </div>
    <div class="bajo">
        <div class="interior">

        </div>
    </div>
</body>

</html>