{% extends "base_structure.html" %}

{% load static %}

{% block principal %}
<div class="profile">
    <div class="box" id="down">
        <div class="leftlinks">
            <div class="bar" style="margin-top: 20px;">
                <h1>{{ user.username }}</h1>
            </div>
            <div class="block">
                <a href="">Mis Prestamos</a><br>
                <a href="">Historial de prestamos</a><br>
                <a href="">Mi canal</a><br>
            </div>
            <div class="bar">
                <h1>2025 Reading Goal</h1>
            </div>
            <div class="block">
                <a href="">Restablecer objetivos de lectura</a><br>
            </div>
            <div class="bar">
                <h1>Registro de Lectura</h1>
            </div>
            <div class="block">
                <a href="">Leyendo</a><br>
                <a href="">Quiero leer</a><br>
                <a href="">Ya leido</a><br>
                <hr>
                <a href="">Mis notas</a><br>
                <a href="">Mis reseñas</a><br>
                <hr>
                <a href="">Mis estadisticas de lectura</a><br>
                <a href="">Importacion y exportacion</a><br>
            </div>
            <!--{% if user.is_superuser %}-->
            <div class="block">
                <hr>
                <a href="">Agregar autor</a><br>
                <a href="">Agregar libro</a><br>
                <a href="">Agregar edicion</a><br>
            </div>
            <!--{% endif %}-->
            <div class="bar">
                <h1>Mis Listas</h1>
            </div>
            <div class="blockbutton">
                <button class="button is-gray is-small">
                    Crear una lista
                </button>
            </div>
        </div>
        <!--{% if user.is_superuser %}-->
        <div class="rightinfo">
            <form method="post" action="{% url 'bookRegister' %}">
                {% csrf_token %}
                <ul>
                    {{ form.as_ul }}
                </ul>
                <input type="submit" value="Registrar libro" />
            </form>
            <form method="post" action="{% url 'editionRegister' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <ul>
                    {{ form2.as_ul }}
                </ul>
                <input type="submit" value="Registrar edicion" />
            </form>
            <form method="post" action="{% url 'autorRegister' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <ul>
                    {{ form3.as_ul }}
                </ul>
                <input type="submit" value="Registrar autor" />
            </form>
        </div>
        <!--{% endif %}-->
    </div>
</div>

{% endblock %}