{% extends "base_structure.html" %}

{% load static %}

{% block principal %}
<div class="profile">
    <div class="box" id="down">
        <div class="leftlinks">
            <div class="bar" style="margin-top: 20px;">
                <h1>{{ user.username }}</h1>
            </div>
            <div class="block">
                <a href="">Mis Prestamos</a><br>
                <a href="">Historial de prestamos</a><br>
                <a href="">Mi canal</a><br>
            </div>
            <div class="bar">
                <h1>2025 Reading Goal</h1>
            </div>
            <div class="block">
                <a href="">Restablecer objetivos de lectura</a><br>
            </div>
            <div class="bar">
                <h1>Registro de Lectura</h1>
            </div>
            <div class="block">
                <a href="{% url 'readingMybooks' %}">Leyendo</a><br>
                <a href="{% url 'readedMybooks' %}">Ya leido</a><br>
                <a href="{% url 'favsMybooks' %}">Favoritos</a><br>
                <a href="{% url 'formMybooks' %}">Formularios</a><br>
                <hr>
                <a href="">Mis notas</a><br>
                <a href="">Mis reseñas</a><br>
                <hr>
                <a href="">Mis estadisticas de lectura</a><br>
                <a href="">Importacion y exportacion</a><br>
            </div>
            <div class="bar">
                <h1>Mis Listas</h1>
            </div>
            <div class="blockbutton">
                <button class="button is-gray is-small">
                    Crear una lista
                </button>
            </div>
        </div>

        <div class="rightinfo">
         {% block info %}   
         {% endblock %}
        </div>

    </div>
</div>

{% endblock %}