      #sideMenu {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.3s;
      padding-top: 60px;
      color: white;

    }

    #sideMenu .menu a {
      color: white;
    }

    .closebtn {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 30px;
      color: white;
      text-decoration: none;
    }

   #openMenu {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
  background-color: #00d1b2;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
    }

    #openMenu svg {
      fill: white;
    }